{% extends 'racepoint/base.html' %}
{% load i18n %}
{% block title %}Registration &raquo; {{ race.name }}{% endblock %}
{% block main %}
<form action="" method="post">
	{% if error %}
	<div class="alert alert-danger">We want dilligence!</div>
	{% endif %}
	<div class="form-group {% if form.team.errors %}has-error{% endif %}">
		<label class="control-label" for="input_team">Име на отбора</label>
		<input type="text" name="{{ form.team.html_name }}" id="input_team" class="form-control" value="{{ form.data.team }}" required maxlength="120" />
	</div>
	<div class="form-group {% if form.player_1.errors %}has-error{% endif %}">
		<label class="control-label" for="input_player_1">Участник 1</label>
		<input type="text" name="{{ form.player_1.html_name }}" id="input_player_1" class="form-control" value="{{ form.data.player_1 }}" required maxlength="120" />
	</div>
	<div class="form-group {% if form.player_2.errors %}has-error{% endif %}">
		<label class="control-label" for="input_player_2">Участник 2</label>
		<input type="text" name="{{ form.player_2.html_name }}" id="input_player_2" class="form-control" value="{{ form.data.player_2 }}" maxlength="120" />
	</div>
	<div class="form-group {% if form.player_3.errors %}has-error{% endif %}">
		<label class="control-label" for="input_player_3">Участник 3</label>
		<input type="text" name="{{ form.player_3.html_name }}" id="input_player_3" class="form-control" value="{{ form.data.player_3 }}" maxlength="120" />
	</div>
	<div class="form-group {% if form.player_4.errors %}has-error{% endif %}">
		<label class="control-label" for="input_player_4">Участник 4</label>
		<input type="text" name="{{ form.player_4.html_name }}" id="input_player_4" class="form-control" value="{{ form.data.player_4 }}" maxlength="120" />
	</div>
	{% csrf_token %}
	<button type="submit" class="btn btn-primary">Добави отбор</button>
	<a href="/teams" class="btn btn-default">Откажи</a>
</form>
{% endblock %}